* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }
  /* nav bar */
  .navigation-bar {
    display: flex;
    float: right;
    flex-direction: row; 
    justify-content:flex-end;
    position: fixed;
    padding: 1vw; 
  
    gap: 30px;
    font-weight: 600;
    font-size: 20px;
  
  }
  html {
    scroll-behavior: smooth;
  }
  .links {
    text-decoration: none;
  } 


  h1{
    font-size: 50px;
    padding-top: 80px;
    padding-bottom: 30px;
    font-weight: 700;
  
    align-items: center;
    text-align: center;
    justify-content: center;  
  }
  /* cover section */
  .cover {
    background-image: url("./background-img/nebula.png");
    background-size: cover;
    height: 140vh;

  }
  #text {
    border-right: solid white 4px;
    height: 10px;
  }
  
  .cover h1 {
    font-weight: 1000;
    font-size: 120px;
    letter-spacing: 2.2px;
    white-space: nowrap;
  
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
  }
  
  .title h3 {
    font-size: 30px;

    position: absolute;
    top: 70%;
    left: 55%;
    transform: translate(-60%, -55%);
  }
  /* transition section */
  .transition {
    margin-top: -300px;
    height: 200px;
    background: linear-gradient(rgba(0, 0,0,0) 0%, #000 50%);
  }
  
/*languages section */
.portfolio {
background-image: url('background-img/purplepink.jpg');
background-size: cover;
}
.languages {
  position: relative;
  white-space: nowrap;
  overflow: auto;
}
.languages .slide {
  display: inline-block;
  position: relative;
  padding: 1%;
}
.slideText {
  position: absolute;
  bottom: 50px;
  left: 55%;
  
  color: black;
  z-index: 1;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.slideImage {
  transform-origin: bottom left;
  background: white;
  border-radius: 10px;
  width: 70%;
  padding: 20px;
}

/*projects*/
.projects {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.projects .containers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects .container1, 
.projects .container2 {
  display: block;
  margin: 30px;
  width: 350px;
  height: 550px;
  border-radius: 10px;
  background-color: black;
  
  text-align: center;
}

.containers img {
  width: 60%;
  place-items: center;
  margin-top: 50px;
}

.projects .text {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.projects h2 {
  font-size: 40px;
}

/*about me page*/
.description{
  display: flex;
  width: 210vh;
  align-items: center;
  position: relative; 
  height: 50vh;
}

.description h4 {
  font-size: 24px;
  font-weight: 500;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(265, 265, 265, 0.3);

  margin: 5%;
}

.profile {
  display: flex;
  height: 100%;
  width: 100%;
  padding-right: 30px;
}
.resume {
  float: right;
  color: white;
  padding-right: 200px;
  font-size: 30px;
}

  /*contact*/
  .socials {
    height: 30vh;
    display: flex;
    justify-content:center;
    align-items: center;
  }
 .socials .gitlogo {
   width: 20%;
   height: 20%;
   float: right;

 }
 .socials .linkedlogo {
  width: 20%;
  height: 20%;
 }