* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.nav-bar {
  background-color: #0D161D;
  height: 12vh;

  overflow: hidden;
  background-color: none; 
  position: fixed;
  width: 100%; 
  top: 0; 
  z-index: 1000;
}

.logo-image {
  padding: 10px;
  max-width: 70px;

  cursor: pointer; 
  border: none; 
  background: none;
  padding: 0; 
}

.website-cover {
  background-color: #0D161D;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 20px; 
  height: 100vh;
}

.text-content {
  display: flex;
  flex-direction: column; 
  flex: 1; 
  padding-right: 20px; 
}

.profile-image {
  max-width: 400px; 
  height: auto; 
  padding-right: 80px;
}

.title-space {
  height:15vh;
  background-color: #0D161D
}

.greeting-title {
  font-weight: 250;
  font-size: 2em;
  padding-top: 10px;
  padding-left: 100px;
}

.name-title {
  font-weight: 600;
  font-size: 3em;
  padding-left: 100px;
}

.intro {
  font-size: 1em;
  color: #78848A;
  line-height: 1.5;
  font-weight: 300;
  padding-right: 75px;
  padding-left: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.experience{
  background-color: #0D161D;
}

.socials {
  padding-left: 100px;
}

.socials a {
  display: inline-block; 
  margin-right: 10px; 
  padding: 5px 10px; 
  text-decoration: none; 
  color: white;
  border: 1px solid white; 
  border-radius: 5px; 
}

.socials a:hover {
  background-color: #007bff; 
  color: #fff; 
}